body {background-color: #000;}

h1, h2, h3 {font-family: 'Monda', sans-serif;}
p {font-family: 'Roboto', sans-serif;}

.slide {
	position: relative;
	width: 100vw;
	height: 500px;
}

#s1 {
	background-color: #fff;
	z-index: 1;
	text-align: center;
}

#s1 h1 {font-size: 120px;}

#s2 {
	background-color: #D9D6C4;
	z-index: -1;
}

#s3 {
	background-color: #9D9E98;
	z-index: -2;
}

#s4 {
	background-color: #0C5BA0;
	z-index: -3;
}